* {
	margin: 0;
	padding: 0;
}
.navbar {
  width: 100%;
  background-color: #C8E4FD;
  overflow: auto;
  border-bottom: 1px solid black;
}

.menu {
	float: right;
}

.navbar a {
  text-align: center;
  padding-right: 30px;
  padding-left: 30px;
  color: black;
  text-decoration: none;
  font-size: 25px;
  float: left;
  padding-top: 15px;
  padding-bottom: 15px;
}

.navbar a:hover {
  color: white;
}

.active {
	padding-left: 30px;
  padding-right: 30px;
}

.sungai {
  background-color: #C8E4FD;
  width: 94%;
  margin: 5px 40px;
  text-align: center;
  height: 500px;
  border-radius: 30px;
}

h2 {
  font-size: 23px;
  font-weight: bold;
  margin-top: 50px;
  margin-left: 40px;
  background-color: #C8E4FD;
  border-radius: 20px;
  margin-right: 850px;
  padding: 10px 20px;
  border: 1px solid black;
}

.kualitas {
  background-color: #C8E4FD;
  width: 94%;
  margin: 5px 40px;
  text-align: center;
  height: 500px;
  border-radius: 30px;

}

.upaya {
  background-color: #C8E4FD;
  width: 94%;
  margin: 5px 40px;
  text-align: center;
  height: 500px;
  border-radius: 30px;

}

body::-webkit-scrollbar {
  width: 17px;           
}

body::-webkit-scrollbar-track {
  background: white;        
}

body::-webkit-scrollbar-thumb {
  background-color: skyblue;    
  border-radius: 10px;      
  border: 3px solid white;
}

@media screen and (max-width: 576px) {
  .active {
    display: inline-block;
    padding: 0 0;
    float: none;
  }

  .navbar a {
    float: none;
    display: inline-block;
    margin-right: none;
    padding: 10px 10px;
    font-size: 20px;
  }

  h2 {
    margin-right: 35px;
    font-size: 15px;
  }

  .sungai {
    width: 85%;
  }

  .kualitas {
    width: 85%;
  }

  .upaya {
    width: 85%;
  }
}
