body {
	margin: 0;
	padding: 0;
	display: flex;
	height: 600px;
	background-color: white;
	align-items: center;
	justify-content: center;
	font-family: sans-serif;
	padding-top: 40px;
}

.login {
	background-color: #C8E4FD;;
	width: 350px;
	text-align: center;
	padding: 40px;
	box-sizing: border-box;
	border-radius: 10px;
	border: 2px solid black;
}

.login img {
	width: 215px;
	height: 152px;
	padding-right: 10px;
}

.login .input-group {
	position: relative;
	width: 100%;
	margin-bottom: 25px;
	font-size: 20px;
}

.login .input-group input {
	height: 50px;
	width: 100%;
	padding: 0 20px;
	box-sizing: border-box;
	font-size: 20px;
	border: 2px solid black;
	border-radius: 30px;
	background-color: #0000006B;
	outline: none;
}

.login .input-group input {
	color: white;
}

::placeholder {
	color: aliceblue;
}


.login .input-group1 input {
	height: 50px;
	width: 40%;
	padding: 0 20px;
	box-sizing: border-box;
	font-size: 20px;
	border: 2px solid black;
	border-radius: 30px;
	background-color: grey;
	cursor: pointer;
}

.login .signup {
	margin-top: 30px;
	font-size: 15px;
	font-family: sans-serif;
}

.icon {
	font-size: 30px;
	color: #000;
	background-color: 
}